body {
    font-family: 'Montserrat', sans-serif;
    color: #2B3541;
}
.container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header {
    padding-top: 50px;
    padding-bottom: 28px;
    display: flex;
    justify-content: space-between;
}
.header-item {
    display: flex;
    gap: 92px;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    list-style-type: none;
    display: flex;
    gap: 54px;
    padding-left: 0;
    margin: 0;
}
.header-nav a {
    text-decoration: none;
    color: #2B3541;
    font-size: 18px;
    line-height: 150%;
    transition-timing-function: ease-out;
}
.header-nav a::after {
    content: "";
    width: 1%;
    height: 1px;
    background: #2B3541;
    opacity: 0;
    display: block;
    transition: .4s;
}
.header-nav a:hover::after{
    opacity: 1;
    width: 100%;
}
.header-social {
    display: flex;
    gap: 30px;
}
.header-social-link {
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}
.header-instagram {
    background-image: url(../images/instagram.svg);
}
.header-instagram:hover {
    transform: scale(1.2);
    opacity: 1;
}
.header-facebook {
    background-image: url(../images/facebook.svg);
}
.header-facebook:hover {
    transform: scale(1.2);
    opacity: 1;
}

/*Блок с баннером Girl*/

.banner {
    overflow: hidden;
}

.banner-box {
    position: relative;
    display: flex;
    margin-bottom: 41px;
}
.text {
    position: relative;
    margin-top: 195px;
}
.title {
    /*margin-top: 228px;*/
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 125%;
    color: #2B3541;
    text-transform: uppercase;
    max-width: 676px;
}
.desc {
    font-size: 40px;
    line-height: 120%;
    color: #2B3541;
    margin-bottom: 24px;
}
.desc-box {
    margin-left: 92px;
}
.desc-text {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    max-width: 297px;
    /*margin-left: 92px;*/
    margin-bottom: 54px;
}
.more {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 150%;
    text-transform: uppercase;
    color: #2B3541;
    border: none;
    background-color: #FBF138;
    padding: 22px 30px;
    /*margin-left: 92px;*/
    box-shadow: 0 13px 24px rgba(251, 241, 56, 0.3);
    transition: 0.4s;
}
.more:hover {
    background-color: #2B3541;
    color: #FBF138;
    box-shadow: 0 13px 24px rgba(70, 86, 106, 0.2);
}
.arrow {
    border: 3px solid #2B3541;
    width: 46px;
    height: 47px;
    border-radius: 100%;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    margin-top: 203px;
    display: block;
}
.box {
    display: flex;
    max-width: 790px;
    width: 100%;
    gap: 20px;
    position: absolute;
    top: 0;
    z-index: -1;
    right: -75px;
}
.box-left {
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 0.2;
    flex-basis: 70%;
    height: 850px;
}
.box-right {
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    opacity: 0.2;
    flex-basis: 30%;
    height: 850px;
}
.box img {
    width: 988px;
    height: 811px;
    position: absolute;
    bottom: 0;
    left: -97px;
}

/*Блок "Ближайшие события"*/

.events {
    padding-top: 50px;
}
.events-title {
    font-size: 40px;
    font-weight: 700;
    color: #2B3541;
    line-height: 125%;
    margin-top: 70px;
}
.events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.events-item-1 {
    background-image: url(../images/maraphon.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.events-item-2 {
    background-image: url(../images/vebinar1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.events-item-3 {
    background-image: url(../images/vebinar2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.events-gradient {
    max-width: 367px;
    height: 600px;
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    position: relative;
    transition: 0.4s;
}
.events-gradient:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%);
    transition: 0.4s;
}
.date {
    padding-top: 30px;
    margin-top: 0;
    margin-left: 30px;
    color: #2B3541;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    opacity: 0.6;
}
.events-h3 {
    max-width: 260px;
    margin: 20px 20px 60px 29px;
    color: #2B3541;
    font-size: 28px;
    font-weight: 700;
    line-height: 125%;
}
.events-button {
    color: #2B3541;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 150%;
    text-decoration: none;
    background-color: #FBF138;
    padding: 25px 40px 21px 40px;
    opacity: 0;
    margin-left: 29px;
}
.events-button:hover{
    color: #FBF138;
    background-color: #2B3541;
}
.events-gradient:hover .events-button {
    opacity: 1;
    transition: 0.4s;
}
.events-type {
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    background-color: #FBF138 ;
    padding: 11px 20px;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.add {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*Блок "Расписание тренировок"*/

.timetable {
    margin-top: 161px;
    margin-bottom: 163px;
}
.timetable-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.timetable-title {
    font-size: 40px;
    font-weight: 700;
    color: #2B3541;
    line-height: 125%;
    max-width: 350px;
    margin: 0;
}
.timetable-week {
    font-size: 28px;
    font-weight: 700;
    line-height: 125%;
    color: #2B3541;
    margin-top: 14px;
    margin-bottom: 0;
}
.timetable-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 37px 74px 281px;
    gap: 20px;
}
.timetable-grid-item {
    border: 1px solid rgba(43, 53, 65, 0.5);
    /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}
.timetable-grid-item:hover {
    border: 1px solid #ffffff;
    box-shadow: 0 4px 30px rgba(43, 53, 65, 0.2);
}
.timetable-grid-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.timetable-grid-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
.timetable-grid-item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.timetable-grid-item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.timetable-grid-item:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.timetable-grid-item:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}
.timetable-date {
    align-self: flex-end;
    font-size: 18px;
    line-height: 125%;
    color: rgba(1, 1, 1, .7);
    /*opacity: 0.7;*/
    /*text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);*/
    margin: 0;
}
.timetable-name {
    position: absolute;
    bottom: -80px;
    transition: .4s;
}
.timetable-grid-item:hover .timetable-name {
    bottom: 10px;
    transition: 0.4s linear;
}
.active .timetable-name{
    bottom: 10px;
}
.timetable-name img {
    margin-bottom: 35px;
}
.timetable-name h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 125%;
    color: #2B3541;
    margin-top: 0;
    margin-bottom: 15px;
}
.timetable .active {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0 13px 30px rgba(186, 180, 69, 0.2);
    border: none;
    transition: .4s;
}
.timetable .active:hover {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 1) 50%);
    height: auto;
}
.timetable-description {
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    overflow: hidden;
}
.active h3 {
    margin-bottom: 18px;
}

/*Форма "Подписаться на рассылку"*/

.form {
    background-color: #F3F3F3;
}
.form-subscribe {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 67px;
    margin-top: 159px;
    margin-bottom: 164px;
}
.form-title {
    font-size: 40px;
    font-weight: 700;
    color: #2B3541;
    line-height: 49px;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
}
.form-title::before {
    content: ' ';
    width: 53px;
    height: 53px;
    position: absolute;
    top: -18px;
    left: 243px;
    background-color: #FBF138;
    border-radius: 100%;
    z-index: -1;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.form-inner {
    display: flex;
    justify-content: center;
}
.agreement {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 16px;
    align-items: flex-start;
}
.form-subscribe-input {
    font-size: 18px;
    color: #2B3541;
    line-height: 150%;
    opacity: 0.3;
    padding: 19px 17px 19px 11px;
    margin-right: 20px;
    border: none;
    width: 347px;

}
.form-subscribe-input:focus {
    outline: 1px solid #FBF138;
}
.form-subscribe-input:invalid {
    border: 1px solid #AE0303;
} 
.form-subscribe-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    padding: 20px 42px;
    background-color: #FBF138;
    border: none;
    cursor: pointer;
    height: 65px;
    display: block;
    box-shadow: 0 13px 24px rgba(251, 241, 56, 0.2);
    transition: .4s;

}
.form-subscribe-btn:hover {
    background-color: #2B3541;
    color: #FBF138;
    transition: 0.4s;
    box-shadow: 0 13px 24px rgba(43, 53, 65, 0.2);

}
.agreement-checkbox {
    margin-top: 12px;
}
.checkbox:checked,
.checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
   position: relative;
   padding-left: 26px;
   cursor:pointer;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: #2B3541;
   border-radius: 2px;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 1;
   left: 4px;
   top: calc(50% - 6px);
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(../images/check_box.svg);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: transparent;
   border-radius: 2px;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 0;
   left: 4px;
   top: calc(50% - 6px);
   background-position: 0 -12px;
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   /*background-image: url(../images/check\ box\ empty.svg);*/
}
.radio:checked + label::before{
   border-radius: 100%;
}
.checkbox-label {
    color: rgba(43, 53, 65, 0.3);
    font-size: 11px;
}
.checkbox-label a {
    color: rgba(43, 53, 65, 0.5);
    transition: .4s;
}
.checkbox-label a:hover {
    color: rgba(43,53,65, 1.3);
}
/*Блок"О Компании"*/
.about {
    margin-bottom: 151px;
}
.about-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
}
.about-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    color: #2B3541;
    margin: 0;
}
.about-description {
    font-size: 18px;
    line-height: 150%;
    max-width: 483px;
    margin-bottom: 37px;
}
.sign-up {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    padding: 20px 50px;
    text-transform: uppercase;
    background-color: #FBF138;
    border: none;
    cursor: pointer;
    box-shadow: 0 13px 24px rgba(251, 241, 56, 0.3);
    transition: .4s;
}
.sign-up:hover {
    color: #FBF138;
    background-color: #2B3541;
    box-shadow: 0 13px 24px rgba(43, 53, 65, 0.2);
}
.about-cover {
    height: 335px;
    width: 581px;
}
.about-img {
    background-image: url(../images/trainer.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-gradient {
    max-width: 581px;
    height: 335px;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.3;
}
.about-bottom {
    display: flex;
    gap: 67px;
}
.about-bottom-item h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 125%;
}
.about-bottom-item p {
    font-size: 18px;
    line-height: 150%;
    opacity: 0.6;
}

/*Футер сайта"*/

footer {
    background-color: #F3F3F3;
    padding-bottom: 10px;
}
.footer-top {
    padding-top: 50px;
    padding-bottom: 19px;
    display: flex;
    justify-content: space-between;
}
.footer-item {
    display: flex;
    gap: 74px;
}
.footer-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-nav {
    list-style-type: none;
    display: flex;
    gap: 90px;
    padding-left: 0;
    margin: 0;
}
.footer-nav a {
    text-decoration: none;
    color: #2B3541;
    font-size: 14px;
    line-height: 150%;
}
.footer-nav a::after {
    content: "";
    width: 1%;
    height: 1px;
    background: #2B3541;
    opacity: 0;
    display: block;
    transition: .4s;
}
.footer-nav a:hover::after{
    opacity: 1;
    width: 100%;
}
.footer-social {
    display: flex;
    gap: 30px;
}
.footer-mail {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: #2B3541;
    text-decoration: none;
    margin-right: 30px;
    position: relative;
    z-index: 1;
}
.footer-mail::before{
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: -12px;
    left: -17px;
    background-color: #FBF138;
    border-radius: 100%;
    z-index: -1;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);

}
.footer-instagram {
    display: block;
    background-image: url(../images/instagram.svg);
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}
.footer-instagram:hover{
    transform: scale(1.2);
    opacity: 1;
}
.footer-facebook {
    display: block;
    background-image: url(../images/facebook.svg);
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}
.footer-facebook:hover {
    transform: scale(1.2);
    opacity: 1;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
}
.footer-bottom p {
    font-size: 14px;
    color: rgba(43,53,65, .3);
}
.footer-bottom a {
    color: rgba(43,53,65, .3);
    transition: .4s;
}
.footer-bottom a:hover {
    color: rgba(43,53,65, 1.3);
}

/*Кнопка "Наверх"*/
.button-up {
    background-color: #FBF138;
    color: #2B3541;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: .4s;
}
.button-up:hover {
    background-color: #2B3541;
    color: #FBF138;
}
.button-up.hidden {
    opacity: 0;
}
.button-up.visible {
    opacity: 1;
}

/*Модальное окно"Заявка на участие"*/

.modal {
    position: fixed;
    top: 9000px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:500;
    overflow:hidden;
}
.modal-content {
    max-width: 600px;
    background-color: #F3F3F3;
    padding: 60px 0 80px;
    text-align: center;
    position: relative;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .4s;
    box-shadow: 0 13px 24px rgba(43, 53, 65, 0.6);
    z-index: 5;
}
.modal-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 125%;
    color: #2B3541;
    max-width: 403px;
    margin: 0 auto;
    position: relative;
}
.modal-title::before {
    content: '';
    width: 53px;
    height: 53px;
    position: absolute;
    top: -32px;
    left: 29px;
    background-color: #FBF138;
    border-radius: 100%;
    z-index: -1;
    box-shadow: 0 13px 24px rgba(251, 241, 56, 0.3);
}
.modal-description {
    font-size: 18px;
    line-height: 150%;
    max-width: 342px;
    margin: 18px auto 39px;
}
.modal-form-above {
    padding: 0 49px;
}
.modal-email {
    font-size: 18px;
    line-height: 150%;
    padding: 19px 25px 18px 23px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    border: none;
    margin-bottom: 20px;
}
.modal-email::-webkit-input-placeholder {
    opacity: 0.3;
}
.modal-email::-moz-placeholder {
    opacity: 0.3;
}
.modal-email:-ms-input-placeholder {
    opacity: 0.3;
}
.modal-email::-ms-input-placeholder {
    opacity: 0.3;
}
.modal-email::placeholder {
    opacity: 0.3;
}
.modal-tel {
    font-size: 18px;
    line-height: 150%;
    padding: 19px 25px 18px 23px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    border: none;
    margin-bottom: 41px;
}
.modal-tel::-webkit-input-placeholder {
    opacity: 0.3;
}
.modal-tel::-moz-placeholder {
    opacity: 0.3;
}
.modal-tel:-ms-input-placeholder {
    opacity: 0.3;
}
.modal-tel::-ms-input-placeholder {
    opacity: 0.3;
}
.modal-tel::placeholder {
    opacity: 0.3;
}
.modal-email::-webkit-input-placeholder, .modal-tel::-webkit-input-placeholder {
    color: #2B3541;
}
.modal-email::-moz-placeholder, .modal-tel::-moz-placeholder {
    color: #2B3541;
}
.modal-email:-ms-input-placeholder, .modal-tel:-ms-input-placeholder {
    color: #2B3541;
}
.modal-email::-ms-input-placeholder, .modal-tel::-ms-input-placeholder {
    color: #2B3541;
}
.modal-email::placeholder,
.modal-tel::placeholder {
    color: #2B3541;
}
.modal-email:focus,
.modal-tel:focus {
    outline: 1px solid #FBF138;
}
.modal-email:active,
.modal-tel:active {
    background-color: #ffffff;
}
.modal-email:invalid,
.modal-tel:invalid {
    border: 1px solid #AE0303;
}
.modal-btn {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: #FBF138;
    padding: 23px 5px 23px 5px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 13px 24px rgba(251, 241, 56, 0.3);
    cursor: pointer;
}
.modal-btn:hover {
    color: #FBF138;
    background-color: #2B3541;
    box-shadow: 0 13px 24px rgba(43, 53, 65, 0.2);
    transition: 0.4s;
}
.modal-close {
    width: 20px;
    height: 20px;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.burger {
    width: 29px;
    height: 22px;
    background-image: url(../images/burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*Меню в модальном окне*/
.modal-menu-above {
    position: fixed;
    top: 9000px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:500;
    overflow:scroll;
}
.modal-menu {
    max-width: 587px;
    background-color: #F3F3F3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    /*padding-top: 29px;*/
    /*padding-bottom: 24px;*/
    /*padding-right: 27px;*/
    /*padding-left: 10px;*/
    padding: 29px 27px 24px 10px;
    transition: .4s;
}
.modal-menu-item {
    padding-right: 10px;
}
.modal-menu .header-logo {
    width: 78px;
    height: 24px;
    background-size: contain;
    margin: 0 0 40px 10px;
}
.modal-menu-nav {
    padding-left: 0;
    list-style-type: none;
}
.modal-menu-nav li:nth-child(1) {
    border-bottom: 1px solid rgba(16.9%, 20.8%, 25.5%, .5);
    padding-bottom: 20px;
}
.modal-menu-nav li:nth-child(2) {
    border-bottom: 1px solid rgba(16.9%, 20.8%, 25.5%, .5);
    padding-bottom: 20px;
    padding-top: 20px;
}
.modal-menu-nav li:nth-child(3) {
    padding-bottom: 20px;
    padding-top: 20px;
}
.modal-menu-nav a {
    font-size: 16px;
    color: #2B3541;
    line-height: 150%;
    text-decoration: none;
}
.modal-menu-social {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.modal-menu .header-instagram {
    width: 26px;
    height: 26px;
    background-image: url(../images/instagram.svg);
    transition: .4s;
}
.modal-menu .header-facebook {
    width: 26px;
    height: 26px;
    background-image: url(../images/facebook.svg);
    transition: .4s;
}
.modal-menu-close {
    width: 20px;
    height: 19px;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    position: absolute;
    top: 28px;
    right: 28px;
    cursor: pointer;
}

/* Responsive*/
@media (min-width:568px) {
    .about-bottom-sign-up {
        display: none;
    }
    .about-cover-bottom {
        display: none;
    }
}

@media (min-width:813px) {
    .header-burger {
        display: none;
    }
    .add {
        display: none;
    }
}

@media (max-width:1510px) {
    .header-logo {
        width: 85px;
        background-size: contain;
    }
    .header-item {
        gap: 50px;
    }
    .header-nav a {
        font-size: 16px;
    }
    .text {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
    }
    .title {
        /*margin-top: 51px;*/
        font-size: 26px;
    }
    .desc {
        font-size: 30px;
    }
    .desc-box {
        margin-left: 0;
    }
    .desc-text {
        font-size: 16px;
        /*margin-left: 0;*/
        max-width: 255px;
        margin-bottom: 41px;
    }
    .more {
        font-size: 16px;
        text-align: center;
        max-width: 252px;
    }
    .arrow {
        width: 39px;
        height: 39px;
    }
    .banner-box {
        margin-bottom: 0;
    }
    .box {
        display: flex;
        gap: 13px;
        height: 50vw;
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
     }
     .box-left {
        height: 100%;
        flex-basis: 64%;
     }
     .box-right {
        flex-basis: 24%;
        height: 100%;
     }
     .box img {
        width: auto;
        height: 76%;
        margin: 0 auto;
        position: absolute;
        left: -128px;
        right: 0;
        -o-object-fit: cover;
           object-fit: cover;
     }
     .events-title {
        font-size: 29px;
    }
    .date {
        font-size: 15px;
    }
    .events-h3 {
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    .arrow {
        margin-top: 125px;
    }
    .form-title::before {
        left: 235px;
    }
}

@media (max-width: 1100px) {
    .form-title::before {
        left: 195px;
    }
}

@media (max-width: 1012px) {
    .arrow {
        margin-top: 63px;
    }
    .timetable-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 333px 224px 224px;
        gap: 20px;
    }
    .timetable-grid-item {
        padding: 20px 24px;
    }
    .timetable-grid-item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .timetable-grid-item:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .timetable-grid-item:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .timetable-grid-item:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .timetable-grid-item:nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .timetable-grid-item:nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .timetable-name {
        position: absolute;
        bottom: -60px;
    }
    .timetable-name img {
        margin-bottom: 23px;
    }
    .form-title::before {
        left: 162px;
    }
}

@media (max-width: 1000px) {
    .arrow {
        margin-top: 50px;
    }
    .footer-item {
        gap: 26px;
    }
    .footer-nav {
        gap: 36px;
    }
    .button-up.visible {
        display: none;
    }
    .form-title::before {
        left: 145px;
    }
}

@media (max-width: 950px) {
    .form-title::before {
        left: 117px;
    }
}

@media (max-width: 870px) {
    .timetable {
        margin-top: 94px;
        margin-bottom: 95px;
    }
    .timetable-title {
        font-size: 26px;
        max-width: 207px;
    }
    .timetable-week {
        font-size: 16px;
    }
    .timetable-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 333px 224px 224px;
        gap: 20px;
    }
    .timetable-grid-item {
        padding: 20px 24px;
    }
    .timetable-grid-item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .timetable-grid-item:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .timetable-grid-item:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .timetable-grid-item:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .timetable-grid-item:nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .timetable-grid-item:nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .timetable-name img {
        margin-bottom: 20px;
    }
    .timetable-name h3 {
        font-size: 16px;
    }
    .timetable-description {
        font-size: 12px;
    }
    .timetable-date {
        font-size: 16px;
    }
    .timetable-name {
        bottom: -35px;
    }
    .timetable-name img {
        margin-bottom: 33px;
    }
    .form-title::before {
        left: 80px;
    }
}

@media (max-width: 812px) {
    .container {
        max-width: 748px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .header {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        justify-content: flex-start;
    }
    .header-nav {
        display: none;
    }
    .header-logo {
        width: 78px;
        height: 24px;
    }
    .header-item {
        gap: 59px;
        flex-basis: 91%;
    }
    .header-instagram {
        width: 26px;
        height: 26px;
        background-size: contain;
    }
    .header-facebook {
        width: 26px;
        height: 26px;
        background-size: contain;
    }
    .header-social {
        gap: 20px;
    }
    .modal-menu {
        max-width: 100%;
    }
    .title {
        /*margin-top: 26px;*/
        margin-bottom: 18px;
    }
    .desc {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 0;
    }
    .desc-text {
        margin-bottom: 64px;
    }
    .desc span {
        padding-left: 5px;
    }
    .arrow {
        width: 32px;
        height: 32px;
        margin-top: 68px;
    }
    .box {
        height: 53vw;
        right: -44px;
        top: 1px;
    }
    .box-left {
        flex-basis: 50%;
    }
    .box-right {
        flex-basis: 40%;
    }
    .box img {
        width: auto;
        height: 76%;
        margin: 0 auto;
        position: absolute;
        left: -90px;
        right: -1px;
        bottom: 2px;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .events {
        padding-top: 76px;
    }
    .events-title {
        font-size: 26px;
        margin-bottom: 21px;
        margin-top: 26px;
    }
    .events-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 11px 20px;
    }
    .events-gradient {
        max-width: 100%;
        height: 100%;
    }
    .events-gradient:nth-child(1) {
        width: 100%;
    }
    .events-gradient:nth-child(2) {
        height: 309px;
        width: 100%;
    }
    .events-gradient:nth-child(3) {
        height: 336px;
        width: 100%;
    }
    .events-item-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: 309px;
        background-image: url(../images/maraphon768.png);
        background-position: center;
    }
    .events-item-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        background-position: center;
    }
    .events-item-3 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        height: 336px;
        background-image: url(../images/vebinar768.png);
        background-position: center;
    }
    .date {
        padding-top: 16px;
        font-size: 12px;
    }
    .events-h3 {
        max-width: 203px;
        margin: 12px 20px 60px 14px;
        line-height: 115%;
    }
    .events-button {
        display: none;
    }
    .events-type {
        font-size: 12px;
        line-height: 27px;
        color: #2B3541;
        background-color: #FBF138;
        padding: 2px 17px;
        margin: 0;
        position: absolute;
        bottom: 0;
        right: inherit;
    }
    .form-inner {
        flex-direction: column;
        max-width: 340px;
        margin: 0 auto;
    }
    .form-title {
        font-size: 26px;
        max-width: 201px;
        line-height: 33px;
        margin: 0 auto 50px;

    }
    .form-title::before {
        content: ' ';
        width: 31px;
        height: 31px;
        position: absolute;
        top: -13px;
        left: -14px;
    }
    .form-subscribe-input {
        padding: 18px 20px 22px 26px;
        width: 340px;
        box-sizing: border-box;
    }
    .agreement {
        margin: 0 0 25px 0;
    }
    .form-subscribe-btn {
        padding: 20px 42px 20px 26px;
        transition: .4s;
    }
    .form-subscribe {
        padding-top: 60px;
        padding-bottom: 41px;
        margin-top: 96px;
        margin-bottom: 94px;
    }
    .about {
        margin-bottom: 70px;
    }
    .about-title {
        font-size: 26px;
    }
    .about-description {
        font-size: 16px;
        margin-bottom: 32px;
    }
    .about-cover {
        height: 229px;
        max-width: 373px;
    }
    .about-gradient {
        height: 229px;
        max-width: 373px;
    }
    .about-top {
        margin-bottom: 40px;
    }
    .about-bottom {
        gap: 2px 73px;
        flex-wrap: wrap;
    }
    .about-bottom-item {
        flex-basis: 40%;
    }
    .about-bottom-item h3 {
        font-size: 16px;
    }
    footer {
        padding-bottom: 55px;
    }
    .footer-top {
        padding-top: 55px;
        padding-bottom: 37px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer-item {
        margin-bottom: 50px;
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
    }
    .footer-nav {
        gap: 25px;
    }
    .footer-nav a {
        font-size: 12px;
    }
    .footer-social {
        gap: 17px;
        justify-content: flex-end;
        flex-basis: 100%;
    }
    .footer-mail {
        font-size: 12px;
    }
    .footer-mail::before {
        content: '';
        width: 20px;
        height: 20px;
        top: -6px;
        left: -10px;
    }
    .footer-bottom {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .banner {
        overflow: hidden;
    }
    .title {
        z-index: -1;
    }
}

@media (max-width: 740px) {
    .title {
        margin-bottom: 0px;
        font-size: 24px;
    }
    .desc-text {
        margin-bottom: 43px;
    }
    .arrow {
        margin-top: 50px;
    }
    .box img {
        width: auto;
        height: 64%;
        margin: 0 auto;
        position: absolute;
        left: -90px;
        right: 62px;
        bottom: 2px;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .footer-bottom p {
        font-size: 10px;
        color: rgba(43,53,65, .3);
    }
}

@media (max-width:685px) {
    .title {
        letter-spacing: 0;
        font-size: 20px;
    }
}

@media (max-width:610px) {
    .timetable-name {
        bottom: -53px;
    }
}

@media (max-width:610px) {
    .timetable-name {
        bottom: -53px;
    }
}

@media (max-width:567px) {
    .more {
        font-size: 16px;
        text-align: center;
        max-width: 281px;
        display: block;
    }
    .desc {
        margin-top: 46px;
    }
    .desc-text {
        margin-bottom: 36px;
    }
    .container {
        max-width: 340px;
    }
    .banner-box {
        flex-direction: column;
    }
    .title {
        font-size: 26px;
        letter-spacing: 0.6px;
    }
    .arrow {
        display: none;
    }
    .footer-item {
        gap: 10px;
    }
    .box {
        height: 96vw;
        max-height: 314px;
        right: 0;
        left: 0;
        margin-top: 38px;
    }
    .box-left {
        flex-basis: 60%;
    }
    .box img {
        width: auto;
        height: 90%;
        margin: 0 auto;
        position: absolute;
        right: 11px;
        left: -4px;
        top: 33px;
        bottom: 2px;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .events {
        padding-top: 24px; 
    }
    .events-title {
        margin-top: 57px;
    }
    .events-grid {
        gap: 9px 10px;
    }
    .events-item-1 {
        max-width: 165px;
    }
    .events-item-2 {
        max-width: 165px;
    }
    .events-item-3 {
        background-position: -347px 0;
    }
    .timetable {
        margin-top: 80px;
        margin-bottom: 72px;
    }
    .timetable-header {
        margin-bottom: 19px;
    }
    .timetable-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 114px 206px 114px 114px 114px 114px;
    }
    .timetable-grid-item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }  
    .timetable-grid-item:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .timetable-grid-item:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .timetable-grid-item:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        margin-bottom: 7px;
    }
    .timetable-grid-item:nth-child(5) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .timetable-grid-item:nth-child(6) {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    .timetable-grid-item {
        padding: 20px 14px;
    }
    .timetable-grid-item:hover {
        height: 80px;
    }
    .timetable-grid-item:hover .timetable-name{
        bottom: -17px;
    }
    .timetable .active:hover .timetable-name {
        bottom: 10px;
    }
    .timetable-grid-item:hover .timetable-name h3 {
        margin-bottom: 4px;
    }
    .timetable .active:hover .timetable-name h3 {
        margin-bottom: 30px;
    }
    .timetable-name img {
        margin-bottom: 58px;
        max-width: 39px;
        height: 39px;
    }
    .timetable-name {
        display: flex;
        bottom: -40px;
        left: 19px;
        gap: 16px;
    }
    .timetable-name h3 {
        margin-bottom: 30px;
        margin-top: 3px;
    }
    .form-subscribe {
        margin-top: 73px;
        margin-bottom: 81px;
        padding-top: 54px;
    }
    .about {
        margin-bottom: 38px;
    }
    .about-cover {
        display: none;
    }
    .sign-up {
        display: none;
    }
    .about-bottom-sign-up {
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
        padding: 19px 111px;
        text-transform: uppercase;
        background-color: #FBF138;
        border: none;
        cursor: pointer;
        box-shadow: 0 13px 24px rgba(251, 241, 56, 0.3);
    }
    .about-bottom-sign-up:hover {
        color: #FBF138;
        background-color: #2B3541;
        box-shadow: 0 13px 24px rgba(43, 53, 65, 0.2);
        transition: 0.4s;
    }
    .about-top {
        margin-bottom: 5px;
    }
    .about-bottom-item h3 {
        margin-top: 0;
    }
    .about-bottom-item p {
        font-size: 16px;
    }
    .about-bottom {
        gap: 44px 73px;
    }
    .about-bottom-item {
        flex-basis: 77%;
        max-height: 79px;
    }
    .about-cover-bottom {
        height: 207px;
        width: 100%;
    }
    .about-img-bottom {
        background-image: url(../images/trainer.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .about-gradient-bottom {
        height: 207px;
        width: 100%;
        background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
        opacity: 0.3;
    }
    .footer-item {
        flex-direction: column;
        gap: 0;
        display: flex;
        align-items: center;
        margin-bottom: 23px;
    }
    .footer-top {
        padding-top: 41px;
        padding-bottom: 28px;
    }
    .footer-logo {
        margin-bottom: 39px;
    }
    .footer-nav {
        justify-content: space-between;
    }
    .footer-mail {
        font-size: 12px;
        flex-basis: 200px;
        margin-right: 0;
    }
    .footer-social {
        gap: 17px;
        justify-content: space-between;
        flex-basis: 100%;
    }
    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }
    .modal-form-above {
        padding: 0 20px;
    }
    .modal-email {
        font-size: 18px;
        line-height: 150%;
    }
    .modal-tel {
        font-size: 18px;
        line-height: 150%;
    }
    .modal-btn {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        background-color: #FBF138;
    }
}

@media (max-width:370px) {
    .title {
        font-size: 21px;
    }
    .box {
        height: 80vw;
    }
    .more {
        padding: 20px 60px 25px 60px;
    }
    .about-bottom-sign-up {
        padding: 19px 2px;
        display: block;
        width: 100%;
    }
    .modal-content {
        padding: 50px 0 40px;
    }
    .modal-title {
        font-size: 16px;
        max-width: 251px;
    }
    .modal-title::before {
        content: '';
        width: 31px;
        height: 31px;
        position: absolute;
        top: -21px;
        left: 29px;
    }
    .modal-description {
        font-size: 16px;
        max-width: 257px;
        margin: 18px auto 25px;
    }
    .modal-email {
        font-size: 18px;
        line-height: 150%;
    }
    .modal-tel {
        font-size: 18px;
        line-height: 150%;
    }
    .modal-btn {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        background-color: #FBF138;
    }
    .form-subscribe-input {
        margin-right: 0;
        padding: 19px 24px 16px 24px;
        width: 100%;
        box-sizing: border-box;
    }
}

@media (max-width:360px) {
    .more {
        padding: 20px 2px 25px 2px;
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .timetable-description {
        display: none;
    }
    .active .timetable-description {
        display: block;
    }
}
@media (max-width:350px) {
    .date {
        margin-left: 9px;
    }
    .events-h3 {
        margin: 12px 4px 60px 4px;
    }
}
@media (max-width:330px) {
    .header-item {
        gap: 40px;
        flex-basis: 29%;
    }
    .footer-nav {
        gap: 13px;
    }
}
